<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
            <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
        {% endblock %}

        <style>
            body {
                background: url("https://placehold.co/100x100/FFFFFF/EFEFEF/png?text=51625");
            }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{{ url('home') }}">Pogodynka - Weather App</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url('home') }}">
                            <i class="bi-house"></i>
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('app_location_index') }}">Whatever location</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url('app_meteo_data_index') }}">Whatever weather</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="{{ url('app_location_index') }}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Locations
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ path('app_weather', {country: 'PL', city: 'Szczecin'}) }}">Szczecin</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_weather', {country: 'PL', city: 'Police'}) }}">Police</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_weather', {country: 'PL', city: 'Białogard'}) }}">Białogard</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_weather', {country: 'DE', city: 'Berlin'}) }}">Berlin</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_weather', {country: 'FR', city: 'Paris'}) }}">Paris</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_weather', {country: 'ES', city: 'Barcelona'}) }}">Barcelona</a></li>
                            {# pojawiaja sie nieistniejace strony --> error #}
                        </ul>
                    </li>
                    {# <li class="nav-item">
                            <a class="nav-link" href="{{ url('app_location_index') }}">Link</a>
                        </li> #}
                </ul>
                {# search <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>#}
            </div>
        </div>
    </nav>

    {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </body>
</html>
